@page
@model HouseHub.Pages.AddModel

@{
    ViewData["Title"] = "Add";
}


<div class="row">
    <div class="col-md-6 offset-md-3">
        <h4 class="pb-2 border-bottom">Add Property</h4>

        <form method="post" enctype="multipart/form-data" class="p-5">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Input.Name"></label>
                <input asp-for="Input.Name" class="form-control" />
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
            <div class="mb-3 pb-3">
                <label asp-for="Input.ShortDescription"></label>
                <textarea asp-for="Input.ShortDescription" class="form-control"></textarea>
                <span asp-validation-for="Input.ShortDescription" class="text-danger"></span>
            </div>
            <div class="mb-3 pb-3">
                <label asp-for="Input.Description"></label>
                <textarea asp-for="Input.Description" class="form-control"></textarea>
                <span asp-validation-for="Input.Description" class="text-danger"></span>
            </div>
            <div class="mb-3 custom-file pb-3">
                <label>Image file</label>
                <div class="custom-file">

                    <input asp-for="Input.ImageFile" class="custom-file-input" aria-describedby="fileHelp">
                    <label asp-for="Input.ImageFile" class="custom-file-label">
                        Select file...
                    </label>
                </div>

                <span asp-validation-for="Input.ImageFile" class="text-danger"></span>
            </div>
            <button type="submit" value="Create" class="btn btn-primary btn-lg btn-block my-5">Add</button>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/js/filechooser.js" asp-append-version="true"></script>
}


