@page "{id}"
@model HouseHub.Pages.Property.DeleteModel
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="text-center col-md-8 offset-md-2">
    <h4 class="pb-2 border-bottom">Delete property</h4>
    <form method="post">
        <p class="py-3 h5">Are you sure you want to delete the following property?</p>
        <p class="py-3 h3"><span class="text-warning">@Model.Accommodation.Name</span></p>

        <input type="hidden" name="id" value="@Model.Accommodation.AccommodationID" />
        <button type="submit" value="Create" class="btn btn-danger btn-lg btn-block my-3">Delete</button>
    </form>
</div>

