@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="pb-2 my-4 border-bottom">
    <h2>Accommodations available to rent</h2>
</div>

<div class="row">
    @foreach (var item in Model.Accommodation)
    {
        <article class="col-md-4 pb-5">
            <h4 class="border-bottom pb-2"><a href="#" class="text-dark"> @Html.DisplayFor(modelItem => item.Name) </a></h4>
            <p>@Html.DisplayFor(modelItem => item.Description)</p>
            <img src="@item.ImagePath" class="img-fluid" />
        </article>
    }
</div>