@page
@model HouseHub.Pages.User.ManageModel
@{
    ViewData["Title"] = "Manage users";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}




<div class="row">
    <div class="col-md-6 offset-md-3">
        <h2 class="pb-2 border-bottom">Manage users</h2>
        <partial name="_StatusMessage" />
        <form method="post" enctype="multipart/form-data" class="p-5">
            <div class="mb-3">
                <label name="Username">Username</label>
                <select asp-for="Users" asp-items="Model.Users" class="form-control"></select>
            </div>

            <div class="mb-3">
                <label name="Roles">Role</label>
                <select asp-for="Roles" asp-items="Model.Roles" class="form-control"></select>
            </div>
            <button type="submit" value="Create" class="btn btn-primary btn-lg btn-block">Change role</button>
        </form>
    </div>
</div>