@page

@using HouseHub.Model
@model HouseHub.Pages.User.ManageModel
@{
    ViewData["Title"] = "Manage users";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}



<section>
    <div class="input-group mb-2">
        <div class="input-group-prepend">
            <div class="input-group-text">Search users</div>
        </div>
        <input type="text" class="form-control" id="search" data-list=".list" placeholder="Name or Email">
    </div>
    
    <partial name="_StatusMessage"/>

    <div class="list row">
        @await Html.PartialAsync("_ListUsers", new UserMap(Constants.AdminRole, Model.RoleSelects, Model.Users))
        @await Html.PartialAsync("_ListUsers", new UserMap(Constants.OfficerRole, Model.RoleSelects, Model.Users))
        @await Html.PartialAsync("_ListUsers", new UserMap(Constants.LandlordRole, Model.RoleSelects, Model.Users))
        @await Html.PartialAsync("_ListUsers", new UserMap(Constants.DefaultRole, Model.RoleSelects, Model.Users))
    </div>
</section>

@section Scripts {
    <script src="~/js/jquery.hideseek.min.js" asp-append-version="true"></script>
}