@using HouseHub.Model

@inject SignInManager<ApplicationUser> SignInManager


<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" asp-page="./Index">Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" asp-page="./ChangePassword">Change Password</a>
    </li>
</ul>
